<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.tjetc.dao.AdminMapper">
    <!--    java类型string jdbc类型（数据库varchar) mybatis已经给做了处理-->
    <!--    自定义java类型EnumSex（自定义枚举） jdbc类型（数据库int） 进行类型处理-->
    <!--    sex指定自定义的类型处理器-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into admin (`username`, `password`, sex)
        values (#{username}, #{password}, #{sex,typeHandler = com.tjetc.handlers.EnumSexTypeHandler})
    </insert>

    <select id="queryById" resultMap="baseMap">
        select id, username, password, sex
        from admin
        where id = #{id}
    </select>
    <resultMap id="baseMap" type="admin">
        <id property="id" column="id"></id>
        <result column="username" property="username"></result>
        <result column="password" property="password"></result>
        <result column="sex" property="sex" typeHandler="com.tjetc.handlers.EnumSexTypeHandler"></result>
    </resultMap>


    <select id="queryList" resultMap="baseMap">
        select id, username, password, sex
        from admin
    </select>
</mapper>